:root {
    --cor-principal: #D32F2F;
    --cor-secundaria: #424242;
    --cor-detalhes: #F44336;
    --cor-neutra: #E0E0E0;
    --gradiente: linear-gradient(to left, var(--cor-detalhes) 70%, var(--cor-neutra));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-image: var(--gradiente);
    padding: 15px;
    box-shadow: inset 0 -4px 0 0 var(--cor-detalhes);
}

.imagem-logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-header {
    max-width: 150px;
}

.imagem-logo-header h1 {
    color: white;
    font-size: 20pt;
    margin-left: 40px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria);
    padding: 10px;
}

.ul-nav-header {
    display: flex;
    list-style: none;
}

.li-nav-header {
    margin: 0 15px;
}

.ancoras-header > button {
    background: transparent;
    border: none;
    font-size: 14pt;
    color: var(--cor-neutra);
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.ancoras-header > button::after, #escolhido > button::after {
    content: "";
    height: 5px;
    width: 0;
    background-color: var(--cor-detalhes);
    position: absolute;
    top: 100%;
    left: 0;
    transition: width 0.3s;
}

.ancoras-header > button:hover::after, #escolhido > button::after {
    width: 100%;
}

@media (max-width: 768px) {
    .ul-nav-header {
        flex-direction: column;
    }

    .imagem-logo-header h1 {
        font-size: 18pt;
    }

    .ancoras-header > button{
        margin-top: 20px;
    }
}
