main {
    padding: 20px;
    background-color: var(--cor-neutra);
    text-align: center;
}

.conteudo-central {
    margin: 0 auto;
    max-width: 1200px;
}

#saldacao h2 {
    font-size: 24px;
    color: var(--cor-principal);
}

#saldacao p {
    font-size: 16px;
    margin: 10px 0;
}

.slider {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

.slides {
    display: flex;
    width: 100%;
    height: 50vh;
}

.slide {
    flex: 1;
    margin: 0 10px;
    border-radius: 10px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabela-nutricao {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tabela-nutricao th, .tabela-nutricao td {
    border: 1px solid var(--cor-principal);
    padding: 10px;
    text-align: center;
}

.tabela-nutricao th {
    background-color: var(--cor-secundaria);
    color: var(--cor-neutra);
}

.conteudo-receitas {
    padding: 20px;
    background-color: var(--cor-neutra);
    text-align: center;
}

.conteudo-receitas h2 {
    color: var(--cor-principal);
    font-size: 24px;
    margin-bottom: 30px;
}

#page-sobre>h2{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--cor-principal);
    padding: 20px 0;
}

#page-sobre>p{
    text-align: justify;
    font-size: 16px;
    margin: 20px 0;
}

#page-sobre>img{
    width: 20%;
}

.div-tabela-nutricao>h3{
    font-size: 22px;
    color: var(--cor-principal);
    margin: 30px;
}

.receitas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.receita {
    background-color: white;
    border: 1px solid var(--cor-principal);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.receita img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.receita h3 {
    font-size: 18px;
    color: var(--cor-principal);
    margin-bottom: 10px;
}

.receita ul {
    padding: 0;
    list-style: none;
}

.receita ul li {
    font-size: 14px;
    margin-bottom: 5px;
}

.receita p {
    font-size: 14px;
    color: var(--cor-secundaria);
}


@media (max-width: 768px) {
    main{
        padding: 0;
    }
    .slider {
        flex-direction: column;
    }

    .slide {
        width: 100%;
        margin: 10px 0;
    }

    .tabela-nutricao {
        font-size: 12px;
    }

    .conteudo-receitas{
        padding: 0;
    }
    
    .conteudo-receitas h2 {
        font-size: 20px;
    }

    .receita {
        max-width: 100%;
    }
}
