:root{
    --cor-heade-footer: #DEBCD0;
    --cor-principal: black;
    --cor-secundária: #EC65B6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

html {
    height: 100%;
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main{
    background-color: black;
    flex-grow: 1;
    display: flex;
}

section#contato {
    display: flex;
    margin: auto;
}

form {
    background-color: var(--cor-secundária);
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 280px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px 0;
    border: 1px solid var(--cor-header-footer);
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--cor-principal);
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: var(--cor-principal);
}

textarea {
    resize: vertical;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0;
}

.card {
    width: 300px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card h3 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.card p {
    padding: 0 10px 20px;
    font-size: 1rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px var(--cor-heade-footer);
}

#page-sobre{
    color: white;
    padding: 50px 20%;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#page-sobre>p, #page-home>p{
    padding: 5px 0;
    font-size: 20px;
    text-align: justify;
}

#page-sobre>img{
    margin: 20px auto;
    width: 150px;
    border-radius: 20px;
}

#page-home{
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#page-home>img{
    width: 350px;
    border-radius: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}
